<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FETipView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A842210D1E4ABF990045BA13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A84221211E4ABF9A0045BA13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A842212C1E4ABF9A0045BA13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
